form input:focus,
form textarea:focus {
  outline: none;
}


::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  
}

::-webkit-scrollbar-track{
  background: #d1d1d1;
  border-radius: 100vw;
  margin-block: .1em;
}

::-webkit-scrollbar-thumb{
  background: #a09c9c;
  border-radius: 100vw;
  border: 2px solid rgba(0, 0, 0, 0.1);

}

.contentAddTask {
  width: calc(100vw - 232px);
  height: calc(100vh - 96px);
  position: absolute;
  left: 232px;
  top: 96px;
  background-color: #f6f7f8;
  overflow-x: hidden;
}

.contentLeft-Right {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 32px;
  padding-left: 96px;
  padding-right: 96px;
  width: calc(100vw - 424px);
}

.addTaskHeadline {
  padding: 55px 0px 0px 96px;
  font-family: "Inter";
  font-size: 61px;
  font-weight: 700;
  line-height: 73px;
  letter-spacing: 0em;
  text-align: left;
  margin-block: 0;
}

.contentLeft {
  width: 100%;
}

.titleStar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 24px;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-block: 0;
}

.titleAssigned {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 112px;
  height: 24px;
  margin-block: 0;
}

.star {
  color: #ff8190;
  margin-block: 0;
}

.requiredField {
  width: 119px;
  height: 12px;
  margin-block: 0;
  font-size: 12px;
  color: red;
}

.titleInputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  height: 96px;
}

.inputTitle {
  width: 100%;
  height: 24px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  padding: 12px 16px;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.inputTitleContainer {
  width: calc(100% - 32px);
}


.inputTitle:focus {
  border: 1px solid #ff8190;
}

.textareaDescription {
  height: 168px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
  width: 100%;
}

textarea {
  height: 84px;
  border: 1px solid #d1d1d1;
  padding: 12px 16px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  resize: horizontal;
  text-align: left;
  border-radius: 10px;
  width: calc(100% - 32px);
}

.assignedContainer {
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 16px;
  width: 100%;
}

.inputDropDown {
  height: 48px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
}

.inputContactsSVG {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  width: calc(100% - 32px);
}

.inputContacts {
  height: 24px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  outline: none;
  border: none;
  width: 100%;
}

.inputContacts::placeholder {
  color: #000000;
}

.inputDropDownContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.inputTitleRequiredContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 64px;
  gap: 4px;
  width: 100%;
}

.textareaTitleRequiredContainer {
  height: 132px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  width: 100%;
}

.svgArrow {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.svgArrow:hover {
  background-color: #d1d1d1;
  border-radius: 50%;
}

.partingLine {
  padding-left: 48px;
  padding-right: 48px;
}

.contactsBox {
  width: 100%;
  margin-top: -16px;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-height: 141px;
  overflow-y: auto;

}

.renderSelectedContacts{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}


.assignedContactsContainer {
  width: 100%;
}

.assignedLetters, .renderSelectedContactdetails {
  border: 2px solid white;
  color: #ffffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.assignedContactSVG {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 12px;
  border-bottom: 1px solid #d1d1d1;
  border-radius: 10px;
}

.assignedContactSVG:hover {
  background-color: #d1d1d1;
}

.letterContacts {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.contentRight {
  width: 100%;
}

.titleDateContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  height: 96px;
  width: 100%;
}

.dateInputRequiredContainer {
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
  width: 100%;
}

.dateInputImg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  width: 100%;
  cursor: pointer;
}

.inputMonth {
  height: 24px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding: 12px 16px 12px 16px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  width: calc(100% - 32px);
  cursor: pointer;
}

.imgCalendar {
  width: 24px;
  height: 24px;
  padding: 12px 16px 12px 16px;
}

.prioContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-top: 24px;
  width: 100%;
}

.prioButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 12px;
  gap:8px;
}

.btnUrgent,
.btnMedium,
.btnLow {
  width: 100%;
  height: 56px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  cursor: pointer;
}
.btnUrgent:hover,
.btnMedium:hover,
.btnLow:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.urgentSVGText,
.mediumSVGText,
.lowSVGText {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.urgentText {
  height: 24px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-block: 0;
}

.mediumText {
  height: 24px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25.2px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-block: 0;
}

.lowText {
  height: 24px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-block: 0;
}

.categoryContainer {
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 24px;
  width: 100%;
}

.selectTaskCategorySVG {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  margin-top: 12px;
}

.selectTaskCategory {
  height: 24px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  display: flex;
  width: 100%;
}

.selectTaskCategoryContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  width: calc(100% - 32px);
}

.selectTaskCategoryArrow {
  display: flex;
  justify-content: space-between;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  width: 100%;
  margin-top: 12px;
  background-color: white;
}

.categoryBox {
  width: 100%;
  margin-top: -8px;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.categoryTaskContainer {
  width: 100%;
}

.selectCategoryContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 12px;
  border-bottom: 1px solid #d1d1d1;
  border-radius: 10px;
}

.selectCategoryContainer:hover {
  background-color: #d1d1d1;
}

.subtasksContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin-top: 24px;
  width: 100%;
}

.addNewSubtask {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  width: 100%;
  margin-top: 12px;
  background-color: white;
}

.addNewSubtasksContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  width: calc(100% - 32px);
}

.subtaskText {
  margin-block: 0;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  width: 90%;
}

.subtaskSVG {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.subtaskSVG:hover {
  background-color: #d1d1d1;
  border-radius: 50%;
}

.createCheck {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 100%;
  width: 100%;
}

.createText {
  width: 154px;
  height: 25px;
  font-weight: 700;
  font-size: 21px;
  line-height: 25.2px;
  font-family: "Inter", sans-serif;
  color: white;
}

.createCheckBtn {
  width: 214px;
  height: 57px;
  border-radius: 10px;
  background-color: #2a3647;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 4px;
  border: none;
}

.createCheckBtn:hover {
  background-color: #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.cancelX {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 100%;
  width: 100%;
}

.cancelText {
  width: 66px;
  height: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Inter", sans-serif;
}

.x {
  width: 24px;
  height: 24px;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  font-family: "Inter", sans-serif;
}

.cancelX:hover,
.x:hover {
  color: #29abe2;
}

.cancelBtn:hover {
  border: 2px solid #29abe2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.cancelBtn {
  width: 126px;
  height: 56px;
  border-radius: 10px;
  border: 1px solid #2a3647;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cancelCreateContactButtons {
  display: flex;
  gap: 16px;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  margin-block: 0;
}

.footerTask {
  padding: 0px 96px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 32px;
  width: calc(100vw - 424px);
}

.addSubTasksBox{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
  max-height: 100px;
  overflow-y: auto;
}

.subTaskIcon{
  width: 24px;
  height: 24px;
  border-radius: 5px;
}

.subTaskIcon:hover{
  cursor: pointer;
  transform: scale(0.9);

}

.subTasksIconsContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.editSubTasksBox{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  background-color: white;
}

.editSubTaskContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px;
  background-color: #f6f7f8;
}

.editSubTasksIcons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editsubTasksSVG path{
  fill: #000000;
  
}

.editSubTasksClose{
  font-size: 24px;
  font-weight: 400;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.editSubTasksInput{
  border: none;
  font-size: 16px;
  width: 100%;
}

.editSubTasksClose:hover,.editsubTasksSVG:hover{
  background-color: #d1d1d1;
  border-radius: 50%;
}

.activePrio2{
  background-color: #1fb827;
}

.activePrio1{
  background-color: #FFA800;
}

.activePrio0{
  background-color: #ff2600;
}


.activePrio2 #svgLow path{
  fill: #FFF !important;
}

.activePrio1 #svgMedium path{
  fill: #FFF !important;
}

.activePrio0 #svgUrgent path{
  fill: #FFF !important;
}

.activePrio2 p{
  color: #FFF;
}

.activePrio1 p{
  color: #FFF;
}

.activePrio0 p{
  color: #FFF;
}

.addTaskHeadlineContainer{
  display: flex;
  justify-content: space-between;
}

.closeTask{
  cursor: pointer;
}

.deletePosition{
  position: unset;
  height: calc(100vh - 200px);
}

.subTaskIconsBox {
  display: flex;
  gap: 4px;
}
