@media (max-width: 1060px) {
  .boardHeader > h1 {
    font-size: 41px;
  }

  .searchBar {
    width: unset;
  }

  .searchBar > input {
    width: unset;
  }
}

@media (max-width: 1000px) {
  .headlineBoard {
    font-size: 38px;
    margin-left: 0;
    margin-block: 0;
  }

  .boardHeader {
    padding: 55px 24px 0px 24px;
    width: calc(100vw - 280px);
  }

  .boardDistribution {
    margin-left: 0px;
    width: calc(100vw - 256px);
    padding: 20px 0px 0px 24px;
  }

  .findTask {
    gap: 8px;
    margin-right: 0px;
  }
}

@media (max-width: 820px) {
  .searchBar {
    width: 190px;
  }
}
@media (max-width: 800px) {
  main {
    top: 80px;
    left: unset;
    height: calc(100vh - 160px);
    width: 100vw;   
    overflow-x: hidden;
  }

  .boardHeader {
    width: calc(100vw - 46px);
    padding: 55px 16px 0px 16px;
  }

  .boardHeader > h1 {
    font-size: 47px;
    margin-left: 16px;
  }

  .boardDistribution {
    width: calc(100vw - 46px);
    display: flex;
    flex-direction: column;
    padding: 20px 16px 55px 16px;
    flex-wrap: unset;
  }

    .deleteUedit{
      justify-content: center;
    }

    .btn-editTask{
      width: 70px;
      font-size: 12px;
    }

  .column {
    width: 100%;
  }

  .addKanban {
    width: 100%;
  }

  .dropWindow {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    overflow-y: auto;
  }

  .h1Mobile{
    padding-left: 0 !important;
  }

  .addTaskMobile{
    width: calc(100vw - 36px);
  }

  .formBoardTask{
    width: calc(100vw - 36px);
  }

  .formMobile{
    padding: 0px 0px 0px 0px !important;
  }

  .overlayAddTaskBorder{
    width: calc(100vw - 36px) !important;
  }

  .footerTaskMobile{
    width: calc(100vw - 60px);
    padding: 0px 0px 42px 0px !important;
  }

  .overlayCard{
    width: calc(100vw - 36px);
    height: calc(100vh - 194px);
    overflow-x: hidden;
    gap: 16px;
    padding: 18px;
    border-radius: 0;
  }
  
  .overview{
    background-color: unset;
  }
  
  .mobileArrow {
    display: block;
    }
}

@media (max-width: 600px) {
  .emptyContainer{
    height: 101px;
  }

  .btn-AddTask {
    display: none;
  }

  .boardHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
  }

  .findTask {
    width: 100%;
  }

  .searchBar {
    width: 100%;
  }

  .plusAddTaskMobile {
    display: inline !important;
  }

  .headlineAddTaskMobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .plusAddTaskMobile {
    cursor: pointer;
  }

  .plusAddTaskMobile:hover rect {
    fill: #29abe2;
  }
  .overlayContent h3{
    font-size: 52px;
  }
}

@media(max-width:450px){
  .overlayContent h3{
    font-size: 36px;
  }

}
