<header>
    <img id="menuButton" class="mobile-menu-btn" onclick="openMobileSidebar(true)" src="/assets/img/burger_menu.png" alt="">
    <h1 class="headlineHeader">Kanban Project Management Tool</h1>
    <div class="headerIcons">
        <img class="helpIcon" src="/assets/img/help.png" alt="">
        <div onclick="openOrCloseHeaderLinksPopUp()" class="user">
            <p id="headerInitial" class="userText"></p>
        </div>
    </div>
    <div id="headerLinkPopUp" class="headerLinkPopUp d-none">
        <div class="headerLinksContainer ">
            <a class="headerLinks" onclick="editLoggedinUser()">Edit User</a>
            <a class="headerLinks" href=" ">Help</a>
            <a class="headerLinks" href="/assets/templates/terms/legal_notice.html">Legal Notice</a>
            <a class="headerLinks" href="/assets/templates/terms/privacy_policy.html">Privacy Policy</a>
            <a onclick="logout()" class="headerLinks" href="/index.html">Log Out</a>
        </div>

    </div>
</header>


