<div class="sidebar-container">
  
  <img class="joinlogo" src="/assets/img/joinlogo.png" alt="" />
  

  <div class="sideBarLinks">
    <a id="1" href="/assets/templates/summary.html" class="links" onclick="addActiveStyle(1)">
      <div class="link-container">
      <img class="img-sideBar" src="/assets/img/summarylogo.png" alt="" />
      <p class="link-text">Summary</p>
      </div>
    </a>

    <a id="2" href="/assets/templates/add_task.html" class="links" onclick="addActiveStyle(2)">
      <div class="link-container">
      <img class="img-sideBar" src="/assets/img/addtasklogo.png" alt="" />
      <p class="link-text">Add Task</p>
      </div>
    </a>

    <a id="3" href="/assets/templates/board.html" class="links" onclick="addActiveStyle(3)">
      <div class="link-container">
      <img class="img-sideBar" src="/assets/img/boardlogo.png" alt="" />
      <p class="link-text">Board</p>
      </div>
    </a>

    <a id="4" href="/assets/templates/contacts.html" class="links" onclick="addActiveStyle(4)">
      <div class="link-container">
      <img class="img-sideBar" src="/assets/img/contactslogo.png" alt="" />
      <p class="link-text">Contacts</p>
      </div>
    </a>
  </div>
    <div class="linksBottom">
      <div class="privacy">
      <a id="5" class="linksBottomStyle" href="/assets/templates/terms/privacy_policy.html" onclick="addActiveStyle(5)">Privacy Policy </a>
      </div>
      <div class="legal">
      <a id="6" class="linksBottomStyle" href="/assets/templates/terms/legal_notice.html" onclick="addActiveStyle(6)">Legal Notice</a>
      </div>
    </div>

 
</div>