<div class="sidebar-container">
  
  <img class="joinlogo" src="/assets/img/joinlogo.png" alt="" />
  

    <div class="linksBottom">
      <div class="privacy">
      <a id="5" class="linksBottomStyle" href="/assets/templates/terms/privacy_policy_not_logged.html" onclick="addActiveStyle(5)">Privacy Policy </a>
      </div>
      <div class="legal">
      <a id="6" class="linksBottomStyle" href="/assets/templates/terms/legal_notice_not_logged.html" onclick="addActiveStyle(6)">Legal Notice</a>
      </div>
    </div>

 
</div>