<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/scripts/script.js"></script>
    <script src="/scripts/storage.js"></script>
    <script src="/scripts/loginscript.js"></script>
    <link rel="stylesheet" href="/css/templates.css">
    <link rel="stylesheet" href="/css/loginStyle.css" />
    <link rel="stylesheet" href="/mediaquerys/login.css" />
    <link rel="icon" type="image/x-icon" href="/assets/img/join.png">
    <title>Login</title>
</head>
<body >
    <div class="background-container"></div>
    <div class="headerLogin">
        <img id="logo" class="centeredImage" src="/assets/img/join.png" alt="">
        <div class="signupHeader">
            <p>Not a Join user?</p>
            <a href="/assets/templates/signup.html"><button class="hoverDarkBtn">Sign up</button></a>
        </div>
    </div>
    <div class="login">
        <div class="headlineLoginForm"><span>Log in</span>
            <div class="underline"></div>
        </div>
        <div class="form-container">
            <form id="loginForm" onsubmit="loginUser(event)">
                <div id="emailInputFrame" class="input-container">
                    <input oninput="checkEmail()" id="emailInput" required type="email" placeholder="Email" >
                    <img src="/assets/img/mail.png" alt="picture of mail">
                </div>
                <div id="emailError" class="d-none">Invalid email address</div>
                <div class="input-container">
                    <input oninput="checkPasswordInput()" id="passwordInput" required type="password" placeholder="Password">
                    <img src="/assets/img/lock.png" alt="picture of Lock">
                </div>
                <div id="invalidValue" class="invalidValue"></div>
                <div class="footerLoginForm">
                        <div class="rememberme">
                            <input id="rememberCheckbox" type="checkbox">
                            <p onclick="toggleCheckbox()">Remember me</p>
                        </div>
                    <a class="d-none"> Forgot my password</a>
                </div>
                
                <div class="loginBtn">
                    <input id="submitButton" class="hoverDarkBtn " type="submit" value="Log in">
                    <a  onclick="guestLogin()">Guest Log in</a>
                </div>
            </form>
        </div>

    </div>

    <div class="signupFooter loginFooter">
        <p>Not a Join user?</p>
        <a href="/assets/templates/signup.html"><button class="hoverDarkBtn">Sign up</button></a>
    </div>
    <div class="loginFooter">
        <div class="legalNotice">
            <a href="/assets/templates/terms/privacy_policy_not_logged.html">Privacy Policy</a>
            <a href="/assets/templates/terms/legal_notice_not_logged.html">Legal notice</a>
        </div>
    </div>
    
</body>
</html>